body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

a:not(.credit)  {
    text-decoration: none;
    color: black;
}

.header {
    
    background-color:blanchedalmond;

}

.header img {
    height: 50px;
    cursor: pointer;
    float: left;
    text-align: left;
}


.header h1 {
    height: 80px;
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    vertical-align: middle;
    background-color: blanchedalmond;
}



.header p{
    background-color: blanchedalmond;
    text-align: right;
    margin: 0;
    font-size: small;
    padding-right: 10px;
}


.menu {
    background: #333;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > ul > li {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    display: block;
    font-weight: bold;
    white-space: nowrap;
}

.menu a:hover {
    background: #555;
}


.menu ul ul {
    position: absolute;
    top: 45px;
    left: 0;
    min-width: 160px;
    background: #333;
    display: none;

    list-style: none;
    padding: 0;
    margin: 0;

    border: 1px solid #444;
}

.menu ul ul li {
    width: 100%;
    list-style: none; 
}


.menu ul li:hover > ul {
    display: block;
}



.content-table {
    width: 100%;
    height: calc(100vh - 150px);
}


.content-table img {
    
    cursor: pointer;
    padding: 10px;
    text-align: left;
}



.ad {
    width: 15%;
    background-color: darkgray;
    text-align: center;
    vertical-align: top;
    padding: 10px;
}

.main-content {
    width: 70%;
    padding: 20px;
    vertical-align: top;
}
