
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f5f7fb;
    color: #222;
}

img {
    border-radius: 12px;
}


a:not(.credit) {
    text-decoration: none;
    color: black;
}

/* ---------------- HEADER ---------------- */

.header {
    
    background-color: whitesmoke;
    align-items: center;
}

.header img {

    height: 80px;
    cursor: pointer;
    float: left;
    text-align: left;
    transition: 0.3s;
}

.header img:hover {
    
    transform: scale(1.1);
}

.header h1 {
    height: 80px;
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    vertical-align: middle;
    
}



.header p{
    
    text-align: right;
    margin: 0;
    font-size: small;
    padding-right: 10px;
}








/* ---------------- MENU ---------------- */

.menu {
    background: #3a7bd5;  /* Màu xanh đậm nhẹ */
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > ul > li {
    position: relative;
}

.menu a {
    color: white;
    padding: 14px 20px;
    display: block;
    font-weight: 500;
    transition: 0.25s ease;
    white-space: nowrap;
}

.menu a:hover {
    background-color: white;
    color: #5593e6;
    border-radius: 6px;
}



/* ---------------- DROPDOWN ---------------- */

.menu ul ul {
    position: absolute;
    top: 50px;
    left: 0;
    background: #3a7bd5;
    min-width: 170px;
    display: none;

    /* Animation dropdown */
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.25s ease;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);

    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li:hover > ul {
    display: block;
    opacity: 1;
    transform: translateY(0px);
}

.menu ul ul li a {
    padding: 12px 16px;
}

.menu ul ul li a:hover {
    background-color: white;
    color: #5593e6;
    border-radius: 6px;
}



/* ---------------- CONTENT ---------------- */

.content-table {
    width: 100%;
    height: calc(100vh - 160px);
}

.content-table td {
    padding: 10px;
    transition: 0.3s ease;
}

.main-content table td:hover {
    transform: scale(1.07);
}

.ad {
    width: 15%;
    background: #d9d9d9;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid #c0c0c0;
}

.main-content {
    width: 70%;
    padding: 25px;
    vertical-align: top;
}
